main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

#all-results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#all-results > ul {
  width: 100%;
  max-width: 500px;
  list-style-type: none;
  margin: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#all-results li {
  margin-top: 0.5em;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 0.3em;
  padding: 0.5em;
  width: 100%;
  background-color: white;
}

#all-results li:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  cursor: pointer;
}

.landlord-result {
  display: grid;
  grid-template-areas:
    'header rating'
    'main main';
}

.landlord-result:hover {
  cursor: pointer;
}

.landlord-name {
  grid-area: header;
}

.landlord-rating {
  grid-area: rating;
  justify-self: end;
}

.landlord-city {
  margin-top: 0.5em;
  font-size: 0.9em;
  color: var(--text-secondary);
}

.property-result {
  display: grid;
  grid-template-areas: 'address rating';
}

.property-address {
  grid-area: address;
  max-width: 85%;
}

.property-rating {
  grid-area: rating;
  justify-self: end;
}
