:root {
  --bg-light: #eeede6;
  --accent-orange: #db6d39;
  --accent-orange-stroke: #bc5e31;
  --accent-brown: #b98967;
  --accent-brown-stroke: #a2785a;
  --hover-select: #d4d4cf;
  --text-secondary: rgb(37, 37, 37);
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
  background-color: var(--bg-light);
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

button:hover {
  cursor: pointer;
}