:root {
  --bg-light: #f5f1f1;
  --bg-dark: #2b292f;
  --main-brand: #db6d39;
  --main-brand-border: #bb6237;
  --accent-dark: #a97762;
  --accent-dark-border: #886252;
  --accent-light: #98aea9;
  --accent-light-border: #98aea9;
  --hover-select: #d7d6d6;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  background-color: var(--bg-light);
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

button:hover {
  cursor: pointer;
}
